@font-face{
	font-family: 'lato-bold';
	src: asset-url('Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'lato-light';
	src: asset-url('Lato-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'lato-semibold';
	src: asset-url('Lato-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

